[Desktop Entry]

Name=Notion Desktop
Exec=notion-desktop-linux
Type=Application
Icon=io.github.brunofin.NotionDesktop
Comment=An unofficial Notion client for Linux, built with Electron.
Categories=Office;Development;
StartupWMClass=notion-desktop-linux
MimeType=x-scheme-handler/notion;
