[Desktop Entry]

Name=Notion Desktop
Exec=notion-desktop-linux
Type=Application
Icon=io.github.brunofin.NotionDesktop
Comment=An unofficial Notion client for Linux, built with Electron.
Categories=Utility;Network;Productivity;Development;
StartupWMClass=notion-desktop-linux
