[Desktop Entry]

Name=Cohesion
Exec=cohesion %U
Type=Application
Icon=io.github.brunofin.Cohesion
Comment=An unofficial Notion client for Linux, built with Electron.
Categories=Office;Development;
StartupWMClass=cohesion
MimeType=x-scheme-handler/notion;
